.call-to-action {
  position: relative;
  background-color: $gray-800;
  background: url('../img/bg-masthead.jpg') no-repeat center center;
  @include background-cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
  .overlay {
    position: absolute;
    background-color: $blue-tint;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
}

.hr-title {
  border-top: 1px solid rgba(212, 212, 212, 0.85);
  margin-bottom: 3rem;
  width: 50%;
}
